node_modules/*
build/*
build/contracts/AddressUtils.json
build/contracts/DeprecatedERC721.json
build/contracts/ERC721.json
build/contracts/ERC721Basic.json
build/contracts/ERC721BasicToken.json
build/contracts/ERC721Enumerable.json
build/contracts/ERC721Metadata.json
build/contracts/ERC721Receiver.json
build/contracts/ERC721Token.json
build/contracts/Ownable.json
build/contracts/SafeMath.json
src/abi/SafeMath.json
src/abi/AddressUtils.json
src/abi/DeprecatedERC721.json
src/abi/ERC721.json
src/abi/ERC721Basic.json
src/abi/ERC721BasicToken.json
src/abi/ERC721Enumerable.json
src/abi/ERC721Metadata.json
src/abi/ERC721Receiver.json
src/abi/ERC721Token.json
src/abi/Ownable.json
